/node_modules
/webroot/files/RaspadinhasTemas
/webroot/files/Raspadinhas_Lotes
/webroot/files/temp
/tmp/cache/models
/tmp/cache/persistent
/tmp/cache/logs
/tmp/cache/sessions
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
