/app/Config/email.php
/app/Config/database.php
/app/webroot/files/RaspadinhasTemas
/app/webroot/files/Raspadinha_Lotes
/app/webroot/files/Soccer_Expert_Rodadas
/app/webroot/files/Soccer_Expert_Temas
/app/webroot/files/Soccer_Expert_Clubes
/app/webroot/files/Soccer_Expert_Clubes/*
/app/webroot/files/Loteria_Temas
/app/webroot/files/Loteria_Temas/*
/app/webroot/files/temp
/app/tmp/cache/models
/app/tmp/cache/persistent
/app/tmp/cache/logs
/app/tmp/cache/sessions
/app/tmp/logs/*
/app/tmp/logs/error.log
/app/webroot/error_log
/app/webroot/files/Soccer_Expert_Rodadas_Imagem_Modal
/nbproject/private/
/.vscode
/.idea
.env
/vendor
/.idea
/nbproject/private
